/**
* Lightbox
*/
/**
 
Lightbox*/

@keyframes openLightbox {
    from {
      transform: scale(0); 
    }
    to {
      transform: scale(1); 
    }
  }
  #lightbox[open] {
    padding: 20px; 
    animation: openLightbox 1.0s; 
    border-radius: 20px; 
    border: 5px solid darkblue; 
  }
  
  #lightbox img {
    width: 100%; 
    max-width: 100vw;
    height: auto; 
  }
  